<div id="project-<%= project.id %>" class="project">
  <div id="project-info-<%= project.id %>" class="project-info">
    <%= render "info", project: project %>
  </div>
  <div id="new-task-<%= project.id %>" class="new-task">
    <%= render "tasks/form", project: project %>
  </div>
  <table class="tasks-table" id="tasks-table-<%= project.id %>">
    <tbody data-update-url="<%= sort_user_project_tasks_path(user_id: current_user.id, project_id: project.id) %>">
      <%= render project.tasks %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(function () {
    $("#new-task-<%= project.id %>").find('#task_deadline').datetimepicker({ format: 'd.m.Y H:i' });
  });
</script>
