<header class="header">
  <nav class="navbar">
    <div class="navbar-left">
      <%= link_to "<i class='fal fa-home'></i>".html_safe , root_path, class: "link" %>
    </div>
    <div class="navbar-right">
      <% if user_signed_in? %>
        <%= link_to "<i class='fal fa-user-circle'></i>".html_safe, edit_user_registration_path, class: "link" %>
        <%= link_to "<i class='fal fa-sign-out-alt'></i>".html_safe, destroy_user_session_path, class: "link", method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "link" %>
        <%= link_to "<i class='fal fa-sign-in-alt'></i>".html_safe, new_user_session_path, class: "link" %>
      <% end %>
    </div>
  </nav>
</header>
